*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-synthesis: 62.5%;
}
body{
    font-synthesis: 1.6rem;
}
 
.container{
    display: flex;
    flex-wrap: wrap;

}
.div-1, .div-2, .div-3, .div-4{
    width: 100%;
    min-width: 150px;
    height: 20vh;
    border-radius: 5px;
    margin: 0.5rem;
}

.div-1{
    background-color: peru;
}

.div-2{
    background-color:purple;
}

.div-3{
    background-color:salmon;
}

.div-4{
    background-color:springgreen;
    display: flex;
    flex-wrap: wrap;
    /* padding: 1rem; */
   /*  align-items: center; */
    justify-content: center;
    /* gap: 2rem 2rem; */
    padding: 1rem;
    
}

@media(min-width:800px){
    .container{
        width: 800px;
        margin: 0 auto;
    }
    .div-2{
        width: 50%;
    }
    .div-3{
        width: 50%;
    }
    .div-4{
        width: 40%;
        display: flex;
    }
}